<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <style>
    #account_icon {
      text-decoration: none;
      color: inherit;
    }

    #account_icon:hover {
      filter: brightness(55%);
    }

    .project-links {
      text-decoration: none;
    }

    .project-links:hover {
      text-decoration: none;
    }
  </style>
  <style type="text/css" media="screen">
    #editor {
      width: 100%;
      height: 100%;
    }

    #output {
      width: 100%;
      height: 100%;
    }
  </style>
  <title>Projects &bull; Code X Lab</title>
</head>

<body class="h-100 d-flex flex-column">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/projects">Code X Lab</a>
    <a class="fas fa-user-circle fa-2x" id="account_icon" href="/profile"></a>
  </nav>

  <div class="container-fluid p-3">
    <div class="row border p-1 bg-dark mb-2 px-3 text-light d-flex justify-content-between">
      <h5 class="m-1">{{filename}}<span class="text-muted">&nbsp;| {{projectName}}</span></h5>
      <button class="btn btn-primary btn-sm" onclick="get_code('{{fileId}}');">Get Code (FOR TESTING ONLY)</button>
      <button class="btn btn-info btn-sm" onclick="send_code('{{fileId}}');">Send Code (FOR TESTING ONLY)</button>
      <button class="btn btn-warning btn-sm" onclick="run_code('{{fileId}}');">Execute</button>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="m-0">Input</h6>
        <div id="editor">{{code}}</div>
      </div>
      <div class="col">
        <h6 class="m-0">Output</h6>
        <div id="output"></div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ace.js" integrity="sha256-MZaOeApl5XlA4GPDxOfs39UUiGJQW6/n2+ZhmIJ7kmo=" crossorigin="anonymous"></script>
  <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/python");

    editor.session.setUseWrapMode(true);
    editor.setOption("indentedSoftWrap", false);
    editor.setOption('minLines', 30);
    editor.setOption('maxLines', 30);

    var output = ace.edit("output");
    output.setTheme("ace/theme/monokai");
    output.session.setMode("ace/mode/python");

    output.session.setUseWrapMode(true);
    output.setOption("indentedSoftWrap", false);
    output.setOption('minLines', 30);
    output.setOption('maxLines', 30);
  </script>
  <script src="{{url_for('static', filename='file.js')}}"></script>
</body></html>
