<!doctype html>
<html lang="en" class="h-100">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <style>
    #account_icon {
      text-decoration: none;
      color: inherit;
    }

    #account_icon:hover {
      filter: brightness(55%);
    }

    .project-links {
      text-decoration: none;
    }

    .project-links:hover {
      text-decoration: none;
    }
  </style>
  <title>Projects &bull; Code X Lab</title>
</head>

<body class="h-100 d-flex flex-column">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Code X Lab</a>
    <a class="fas fa-user-circle fa-2x" id="account_icon" href="/profile"></a>
  </nav>

  <div class="container-fluid flex-grow-1">
    <div class="row h-100">
      <div class="col-3 col-md-2 bg-light border p-2 text-center overflow-auto h-100">
        <!-- projects go here -->
        <p class="mb-2"><a class="text-success project-links" onclick="show_new_project();" href="#"><i class="fas fa-plus"></i>&nbsp;New Project</a></p>
        <!-- projects = [(id, name), (id, name), ..] -->
        {% for project in projects %}
        <p class="my-1"><a href="#" class="project-links" onclick="show_project('{{project[0]}}');">{{project[1]}}</a></p>
        {% endfor %}
      </div>
      <div class="col-9 col-md-10 py-2" id="file_content">
        <h4>Please make a new project or select an existing project</h4>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> create file </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          enter a file name:
        </div>
        <div class="modal-footer">
          <form method="post" action="/delete_file">
            <div>
              <input type="filename" class="form-control" placeholder="desired name" name="filename" id="filename">
            </div>
            <button type="submit" id="create" class="btn btn-primary">CREATE FILE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="../static/projects.js"></script>
  <script src="{{url_for('static', filename='projects.js')}}"></script>
</body></html>
