<!doctype html>
<html lang="en" class="h-100">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


  <title>Code X Lab</title>
</head>

<body class="h-100">
  <!-- Kinda hacky but it be how it be -->
  <div style="height: 15vh;"></div>
  <div class="container text-center" style="width: 500px;">
    <h1 class="display-1">Code X Lab</h1>
    <hr> {% set msgs = get_flashed_messages() %} {% for msg in msgs %}
    <div class="alert alert-danger">{{msg}}</div>
    {% endfor %}
    <div class="card p-2 w-100 border-0">
      <div class="card border-warning mb-3 mx-auto text-left">
        <div class="card-header">
          Password Requirements:
        </div>
        <div class="card-body text-warning">
          <ul class="card-text">
            <li>Least 1 Capital Letter</li>
            <li>Least 1 lowercase letter</li>
            <li>Least 1 number</li>
            <li>Length at least 6</li>
          </ul>
        </div>
      </div>
      <form method="post" action="/register_account">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" name="email" id="email">
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Password" class="form-control" maxlength="30" required>
            <div class="input-group-append">
              <button class="btn border text-muted" type="button" id="topEye" onclick="show_hide_password();"><i class="fas fa-eye-slash"></i></button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="password" id="password-verify" name="password-verify" placeholder="Retype password" class="form-control" maxlength="30" required>
            <div class="input-group-append">
              <button class="btn border text-muted" type="button" id="bottomEye" onclick="show_hide_password_verify();"><i class="fas fa-eye-slash"></i></button>
            </div>
          </div>
        </div>
        <!--
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" name="password" id="password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Retype Password" name="password-verify" id="password-verify">
        </div>
-->
        <a href="/" class="btn btn-danger w-25">Back</a>
        <button id='Register' type="submit" class="btn btn-success w-25">Register</button>
      </form>
    </div>
  </div>

  <script src="static/register.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    var password = document.getElementById('password');
    var password_verify = document.getElementById('password-verify');
    var top_eye = document.getElementById('topEye');
    var bottom_eye = document.getElementById('bottomEye');

    var show_hide_password = function() {
      if (password.type == 'password') {
        password.type = 'text';
        top_eye.innerHTML = '<i class="fas fa-eye-slash"></i>';
      } else {
        password.type = 'password';
        top_eye.innerHTML = '<i class="fas fa-eye"></i>';
      }
    }

    var show_hide_password_verify = function() {
      if (password_verify.type == 'password') {
        password_verify.type = 'text';
        bottom_eye.innerHTML = '<i class="fas fa-eye"></i>';
      } else {
        password_verify.type = 'password';
        bottom_eye.innerHTML = '<i class="fas fa-eye-slash"></i>';
      }
    }

  </script>
</body>

</html>
